
<?php
$servername = "cars4everyone.ccqveog3ruej.us-east-1.rds.amazonaws.com"; //insert servername
$username = "root"; //insert username
$password = "Cars5Everyone!"; //insert password
?>

php/database.php
php/database.php
php/searchPanelPopulation.php
